<div class="container">
  <h2>Users</h2>

  <button mat-raised-button color="primary" (click)="addNewUser()">Add New User</button>

  <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>

  <table mat-table [dataSource]="users" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef>Avatar</th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element.avatar.url" alt="Avatar" style="width: 50px; height: 50px; border-radius: 50%;" />
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="viewTransactions(element.id)">View Transactions</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="deleteUser(element)">Delete</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="createTransaction">
      <th mat-header-cell *matHeaderCellDef>Create Transaction</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="createTransaction(element)">Create Transaction</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>